.ex-1-square:hover{
    background-color: red;
    
}

.ex-1-square{
    transition-duration: 2s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-2-square{
    transition-duration: 2s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-3-square{
    transition-duration: 0.5s;
}

.ex-4-square:hover{
    background-color: white;
}

.ex-4-square{
    transition-duration: 2s;
}

.ex-5-square:hover{
    scale: 2 2;
}

.ex-5-square:active{
    scale: 0.5 0.5;
}

.ex-5-square{
    transition-duration: 3s;
}

.ex-6-img:hover{
    filter: grayscale();
}

.ex-8-img:hover{    
    border-radius: 20px;
    filter: grayscale(.6) sepia(.5);
}

.ex-8-img{
   transition-duration: 2s;
}

.ex-9-img:hover{
    border-radius: 20px;
    scale: 1.5;
    filter: grayscale(.6) sepia(.5);
}

.ex-9-img{
    transition-duration: 2s;
}

.ex-10-icon{
    animation: ex-10-icon 1s linear infinite;
}

@keyframes ex-10-icon {
    0%{
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover{
    animation: ex-11-icon 2s linear ;
}

@keyframes ex-11-icon {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0);
    }
}

.ex-12-button:hover .ex-12-top-white{
    animation: ex-12-top-white 2s linear;
}

@keyframes ex-12-top-white {
    0%{
        left: 10%;
    }
    50%{
        left: 68%;
    }
    100%{
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: ex-12-bottom-white 2s linear;
}

@keyframes ex-12-bottom-white {
    0%{
        right: 20%;
    }
    50%{
        right: 68%;
    }
    100%{
        right: 20%;
    }
}

